/* ALL */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Opera and Firefox */
}
.scrollable-div {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.scrollable-content {
  overflow-y: scroll;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* enlever la bar de scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* Chrome/Safari/Webkit */
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* HEADER */
header{
  top: 0;
    position: fixed;
    z-index: 11;
    transition: all 0.5s ease;
}

/* MAIN */
main{
  padding-bottom: 1rem !important;
}
.section-style {
  min-height: 75vh; /* Cette règle fait en sorte que chaque section ait une hauteur minimale égale à la hauteur de la fenêtre du navigateur. */
}
.img-index {
  z-index: 0 !important;
}
#about, #skills, #contact{
  padding-left: 7em;
}

/* SECTION ABOUT */
#about{
  padding-top: 7em;
}
#cv{
  position: sticky;
  z-index: 2;
}
#cvPreview{
  position: sticky !important;
  z-index: 2;
}
.eye-icon--about{
  display: inherit !important;
}
.profile-img--about{
  width: 70%;
}
.no-scroll {
  overflow: hidden;
  height: 100%; /* pour IE6 */
}
.cv-modal {
  display: none;
  position: fixed;
  z-index: 11;
  padding-bottom: 2%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.cv-modal-content {
  margin: auto;
  width: 55%;
  height: 95%;
}
.cv-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.cv-modal-close:hover,
.cv-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* SECTION SKILLS */
#skills {
  padding-top: 11em;
}
.reunion-img--skills{
  width: 70%;
}

/* SECTION PROJECTS */
#projects {
  display: flex;
  flex-direction: column;
  padding-top: 6em;
}
.slide-container{
  width: 40%;
}
/* carrousel project exterieur */
.swiper-button-prev, .swiper-button-next{
  display: none !important;
}
/* les deux carroussel */
.swiper-button-next, .swiper-button-prev {
     z-index: 1 !important;
}
/* modal pour la section "projects" */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Légèrement transparent */
  backdrop-filter: blur(8px); /* Flou */
}
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  .img-fit {
    width: 100%;  /* or any size you want */
    height: 400px;  /* or any size you want */
    object-fit: cover;
  }
  .icon-project{
    height: fit-content;
    margin-right: 0.2em;
  }
  .span-time_person--project{
    display: flex;
    align-items: center;
    position: absolute;
    top: 31.1em;
  }
  .span-difficulty--project{
    position: absolute;
    top: 31.4em;
    right: 20.8em;
  }
  .span-star--project{
    display: flex;
    position: absolute;
    top: 31.9em;
    right: 19em;
  }
.description-technique--project{
  font-size: small; 
  color: #cbd5e0;
  position: absolute;
  top: 32em;
}
/* tooltip for icon */
.tooltip-container {
  position: relative;
  display: inline-block;
}
.tooltip-container .tooltiptext {
  visibility: hidden;
  width: 12em;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 4em;
  left: 50%;
  margin-left: -60px;
}
.tooltip-container:hover .tooltiptext {
  visibility: visible;
}

/* SECTION CONTACT */
#contact{
  padding-top: 7em;
}
.group-img--contact{
  width: 70%;
}
.btn-mail {
  position: relative !important;
  z-index: 0 !important;
}
#form-messages{
  width: 18em;
}
#loading {
  margin-left: 1em;
  margin-right: 2em;
  width: 1em;
  color: rgb(225, 245, 0);
}
#response-message--form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
.loading-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* FOOTER */
#copyright{
  cursor: pointer;
}